<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog ninjas</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="#"><h1>blog ninjas</h1></a>
            <a>a net ninja site</a>
        </div>
<ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/blogs/create">create new blog</a></li>
</ul>
        
    </nav>
    <div class="content-not-found">
        <h1>opps,error 404 page not found</h1>
    </div>
</body>
</html>