<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog ninjas|<%=title%></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="#"><h1>blog ninjas</h1></a>
            <a>a net ninja site</a>
        </div>
<ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/blogs/create">create new blog</a></li>
    
</ul>
        
    </nav>
    <div class="about content">
        <h2>about us</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolor molestiae ad? Accusamus sed veniam itaque error! Non hic possimus soluta amet aliquid, ea ex vitae minus aut modi nostrum.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto labore voluptatum recusandae sunt blanditiis cum asperiores tenetur dolor, error illum est illo dignissimos beatae id praesentium quod delectus provident consequatur.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio illo quisquam in fugit, itaque nam accusantium inventore laboriosam harum ex ducimus, tenetur quidem laborum incidunt dicta suscipit perferendis sint alias!</p>
    </div>
</body>
</html>